<input
  [formControl]="control"
  [type]="type"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeholder"
  [mask]="format"
  [dropSpecialCharacters]="false"
/>
<ng-container *ngIf="control.touched && control.dirty">
  <p *ngIf="control.errors?.pattern" class="text-red-400">
    The password at should have least 8 characters and must contain at least 1
    uppercase letter, 1 lowercase letter, and 1 number
  </p>

  <p *ngIf="control.errors?.required" class="text-red-400">Field is required</p>
  <p *ngIf="control.errors?.minlength" class="text-red-400">
    The value you inputed is
    {{ control.errors?.minlength.actualLength }}
    characters long. It should be at least characters long
    {{ control.errors?.minlength.requiredLength }}
  </p>

  <p class="text-red-400" *ngIf="control.errors?.email">
    Please Enter a valid Email
  </p>
  <p *ngIf="control.errors?.min" class="text-red-400">
    Age should be more than {{ control.errors?.min.min }}
  </p>
  <p *ngIf="control.errors?.max" class="text-red-400">
    Age should be less than {{ control.errors?.max.max }}
  </p>
</ng-container>
